* {
    cursor: url(/assets/img/cursor.png), auto;
    font-family: 'Delicious Handrawn', cursive;
    text-shadow: 0px 1px 10px rgba(95, 160, 186, 0.854);
}

.container-fluid{
    background-image: url(/assets/img/main-background.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#header{
    position:static;
    top:0;
    left: 0;
}

.header-img{
    max-height: 15vh;
    justify-self: center;
    z-index: -1;
}

.main-img-bg{
    position: fixed;
    top: 20%;
}

.bg-animation{
    z-index: -2;
    background-color: black;
}

.sticky-list{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}

#episodeList{
    list-style: none;
    text-align: center;
    color: chartreuse;
    font-size: 1.3rem;
    padding-inline-start: 0px;
    text-shadow: 0px 1px 5px rgb(0, 0, 0, 1);
}

.episode-list-title{
    color:chartreuse;
    text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.954);
}

.episode-list-title:hover{
    color: rgb(86, 169, 3);
    font-size: 1.05rem;
    cursor: url(/assets/img/cursorhover.png), auto;
}

#episodeName, #episodeDate, #episodeCode{
    color: chartreuse;
    text-align: center;
    font-size: 1.7rem;
}

#locationName, #locationType, #locationDimension, #locationResidents{
    color: chartreuse;
    font-size: 1.7rem;
}

#locationResidents{
    text-align: center;
    color: aqua;
}

.card{
    background: rgba(52, 50, 50, 0.703);
    transition: all .3s ease;
}

.card:hover{
    transform: translate3D(0,-1px,0) scale(1.08);
    transition: all .4s ease;
    cursor: url(/assets/img/cursorhover.png), auto;
}

.card-title, .card-text{
    /* color:rgb(234, 38, 172); */
    color: rgb(101,174,196);
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    overflow: auto;
}
.modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
    cursor: url(/assets/img/cursorhover.png), auto; 
}

.modal-content {
    background: rgb(0,0,0);
    background: linear-gradient(146deg, rgba(0,0,0,1) 0%, rgba(1,124,102,1) 50%, rgba(0,90,97,1) 100%);
    margin: 20% auto;
    padding: 20px;
    max-width: 50%;
    max-height: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    z-index: 2;
    text-align: center;
    border: 1px solid black;
}

.modal-card-img{
    width:fit-content;
    height:fit-content;
    align-self: center;
    border-radius: 1rem;
    border: 1px solid black;
    margin-bottom: 1em;
    -webkit-box-shadow: 0px 18px 42px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 18px 42px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 18px 42px -4px rgba(0,0,0,0.75);
}

#modalCardOrigin{
    color: chartreuse;
}

#modalCardOrigin:hover{
    color: rgb(86, 169, 3);
    font-size: 1.05rem;
    cursor: url(/assets/img/cursorhover.png), auto;
}

.modal-show {
    animation: modalShowAnimation 0.5s forwards;
}

.modal-hide {
    animation: modalHideAnimation 0.5s forwards;
}

@keyframes modalShowAnimation {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes modalHideAnimation {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

.modal-card-epi-list{
    list-style: none;
    padding-inline-start: 0px;
}

.modal-card-epi-list-item{
    color: chartreuse;
    padding-inline-start: 0px;
}

.modal-card-epi-list-item:hover{
    color: rgb(86, 169, 3);
    font-size: 1.05rem;
    cursor: url(/assets/img/cursorhover.png), auto;
}

#modalCardOrigin {
    list-style: none;
    padding-inline-start: 0px;
}

.modal-card-origin-item:hover{
    color: chartreuse;
    font-size: 1.05rem;
    cursor: url(/assets/img/cursorhover.png), auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
}

.resident-list {
    margin-top: 1rem;
    list-style: none;
    padding-inline-start: 0px;
}

.resident-list-item:hover{
    color: rgb(62, 111, 14);
    font-size: 1.05rem;
    cursor: url(/assets/img/cursorhover.png), auto;
}

.moving-image {
    position: absolute;
    z-index: -1;
    max-height: 15vh;
    top: 50%;
    transform: translateY(-50%);
    animation: moveUpDown 15s ease-in-out infinite;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(50%);
        transform: translateY(350%)
    }
    50% {
        transform: translateX(730%);
    }
}